/*콘텐츠 다크모드------- -------- ----- ---------*/

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box .contents-line{
	background-color: rgba(26, 26, 28, 1);
}

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box .contents-txt contentstxt{
	color: #1A1A1C;
}

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box .contents-txt contentstxtsub{
	color: #1A1A1C;
}

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box-sub .contents-circle{
	border-color: #1A1A1C;
}

/*
.top.dark-mode{
	border-bottom: 1px solid rgba(17, 17, 17, .05);
}
*/

.top.dark-mode .topframe .topsimbol li .simbol{
	background-image: url('img/common/$simbol.svg');
	background-repeat: no-repeat;
}

.top.dark-mode .topframe .nav li .hamburger{
	background-image: url('img/common/$icon-edge-24-hamburger-line.svg');
	background-repeat: no-repeat;
}

.top.dark-mode .topframe .nav .focused {
	border-color: #1A1A1C;
}

.top.dark-mode .topframe .nav li .nav_bt_window{
	background-image: url('img/common/$icon-edge-24-window-line.svg');
	background-repeat: no-repeat;
}

.top.dark-mode .topframe .nav li .nav_bt_gallery{
	background-image: url('img/common/$icon-edge-24-gallery-line.svg');
	background-repeat: no-repeat;
}


section.dark-mode .side_arrow_bt .prev .prev_img {
	background-image: url('img/common/$icon-edge-24-prev.svg');
	background-repeat: no-repeat;
}

section.dark-mode .side_arrow_bt .next .next_img {
	background-image: url('img/common/$icon-edge-24-next.svg');
	background-repeat: no-repeat;
}

footer.dark-mode .copyright .copy_box copytxt{
	color: rgba(26, 26, 28, 0.92);
}







/* 폰트------- -------- ----- ---------*/

@font-face {
    font-family: 'Pretendard Variable';
    src: url('font/PretendardVariable.woff2') format('woff2'),
         url('font/PretendardVariable.ttf') format('truetype'); 
}

	a:link     {color:#1A1A1C;text-decoration:none}
	a:visited  {color:#1A1A1C;text-decoration:none}
	a:active   {color:#1A1A1C;text-decoration:none}
	a:hover    {color:#666668;text-decoration:none}







/* 반응형 PC --------- -- ----- -------*/

@media screen and (min-width:1176px){

	.top .topframe {
		width: 1176px;
	}
	.top .topframe .topsimbol {
		margin-top:0px;
		width:288px;
		box-sizing: border-box;
		/* background-color: rgba(59, 78, 85, 0.44);*/
	}

	.top .topframe .nav {
		margin-top:0px;
		width:288px;
		box-sizing: border-box;
		/* background-color: rgba(59, 78, 85, 0.44);*/
	}

	.contents-in{
		width: 1176px;
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
		width: 288px;
		/* background-color: rgba(59, 78, 85, 0.07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
		width: 288px;
		/* background-color: rgba(59, 78, 85, 0.14);*/
	}

	.copyright {
		width: 1176px;
		/* background-color: rgba(78, 11, 85, 0.0925);*/
	}

	.copyright .copy_box {
		width: 288px;
		/*background-color: rgba(78, 11, 85, 0.0925);*/
	}
}




/* 반응형 Mobile --------- -- ----- -------*/

@media screen and (max-width:1176px){

	.top .topframe {
		width:100%;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	.top .topframe .topsimbol {
		margin-top:0px;
		width: 50%;
		max-width:288px;
		box-sizing: border-box;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	.top .topframe .nav {
		margin-top:0px;
		width: 50%;
		max-width:288px;
		box-sizing: border-box;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
		width: 25%;
		max-width:288px;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
		width: 25%;
		max-width:288px;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	.copyright {
		width: 100%;
		/*background-color: rgba(78, 11, 85, 0.11);*/
	}

	.copyright .copy_box {
		width: 50%;
		max-width:288px;
		/*background-color: rgba(78, 11, 85, 0.111);*/
	}
}




/* 상단 공통 --------- -- ----- -------*/

img {
	display:block
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #111;
}

.top {
	position:fixed;
	z-index:998;
	top:0px;
	width:100%;
	height: 72px;
	/* border-bottom: 1px solid rgba(255, 255, 255, .05);*/
	/*background-color: rgba(59, 92, 85, .07);*/
	/* background-color: rgba(22, 44, 11, .925); */
}

.top .topframe {
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(59, 92, 85, .07);*/
	height:100%;
}

.top .topframe .topsimbol {
	list-style:none;
	float: left;
	padding-top: 24px;
	height:72px;
	padding-inline-start: 24px;
	/* background-color: rgba(78, 85, 44, .22); */
	/* left: -50%; */
}

.top .topframe .nav {
	list-style:none;
	float: left;
	padding-top: 24px;
	height:72px;
	padding-inline-start: 24px;
	/* background-color: rgba(78, 85, 44, .22); */
	/* left: -50%; */
	}

.top .topframe .nav .focused{
	float:left;
	margin-top: -10px;
	margin-left:9px;
	width:2px;
	height:2px;
	border:2px solid;
	border-color: #F2F2F4;
	border-radius:4px;
}

.top .topframe .nav li {
	float: left;
	padding-right:32px;
	/* background-color: rgba(44, 78, 85, .22); */
	/* left: 50%; */
}

.top .topframe .topsimbol li .simbol{
	width:42px;
	height:24px;
	background-image: url('img/common/$simbol_white.svg');
	background-repeat: no-repeat;
	background-size:42px 24px;
}


.top .topframe .nav li .hamburger{
	width:24px;
	height:24px;
	background-image: url('img/common/$icon-edge-24-hamburger-icon-edge-24-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}

.top .topframe .nav li .nav_bt_window{
	width:24px;
	height:24px;
	background-image: url('img/common/$icon-edge-24-window-line-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}

.top .topframe .nav li .nav_bt_gallery{
	width:24px;
	height:24px;
	background-image: url('img/common/$icon-edge-24-gallery-line-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}




/* 콘텐츠 영역 --------- -- ----- -------*/

Container {
	float: left;
	margin: 0px;
}

#touchSlider {
	height:100%;
	margin:0px;
	background:#000;
	overflow:hidden;
}

#touchSlider ul {
	width:100%;
	height:100%;
	list-style:none;
	top:0;
	left:0;
	overflow:hidden;
}

#touchSlider ul li {
	float:left;
	width:100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}

#touchSlider ul li .contents {
	position: absolute;
	/*min-width:1176px;*/
	z-index: 592;
	width: 100%;
	height: 100%;
}

#touchSlider ul li .contents .contents-in{
	/*width: 1176px;*/
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(59, 92, 85, .07);*/
}

#touchSlider ul li .contents .contents-in .contents-compo{
	position: absolute;
	width:100%;
	top:0;
	bottom: 0;
	height: 0%;
	margin-top: auto;
	margin-bottom: auto;
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
	float:left;
	/*width:288px;*/
	/* background-color: rgba(59, 78, 85, 0.44);*/
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
	float:left;
	/*width:288px;*/
	/* background-color: rgba(17, 17, 17, 0.44);*/
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box .contents-line{
	margin-top: -1px;
	margin-left: 24px;
	width: 24px;
	height: 2px;
	background-color: rgba(242, 242, 244, 1);
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub .contents-circle{
	float:left;
	margin-top: -5px;
	margin-left:24px;
	width:6px;
	height:6px;
	border:2px solid;
	border-color: #F2F2F4;
	border-radius:6px;
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box .contents-txt{
	float:left;
	margin-top: 24px;
	margin-left: 24px;

}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box .contents-txt-sub{
	float:left;
	margin-top: 12px;
	margin-left: 24px;

}


/* 이전/다음 버튼 --------- -- ----- -------*/

section .side_arrow_bt {
	z-index:925;
}

section .side_arrow_bt .prev {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 24px;
	/*background-color: rgba(59, 92, 85, .07);*/
}

section .side_arrow_bt .next {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 24px;
	/*background-color: rgba(59, 92, 85, .07);*/
}

section .side_arrow_bt .prev .prev_img {
	float:left;
	width: 24px;
	height: 24px;
	background-image: url('img/common/$icon-edge-24-prev-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}

section .side_arrow_bt .next .next_img {
	float:left;
	width: 24px;
	height: 24px;
	background-image: url('img/common/$icon-edge-24-next-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}


/*
.count-num {
	position: fixed;
	z-index:999;
	bottom: 78px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 24px;
}

#next-txt {
	writing-mode:tb-rl;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	white-space:nowrap;
	display:block;
}

#prev-txt {
	writing-mode:tb-rl;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	white-space:nowrap;
	display:block;
}

*/



/* 풋터 --------- -- ----- -------*/


footer {
	position: absolute;
	z-index:925;
	width: 100%;
	height: 72px;
	margin: 0;
	bottom: 0;
}

.copyright {
	margin: auto;
	/*width: 1176px;*/
	height: 100%;
	/*background-color: rgba(59, 92, 85, .07);*/
}

.copyright .copy_box {
	float:left;
	height: 100%;
	padding-left: 24px;
	box-sizing: border-box;
	/*background-color: rgba(59, 92, 85, .07);*/
}








/* 폰트 세부 설정 --------- -- ----- -------*/


contentstxt{
	font-family: 'Pretendard Variable';
	font-weight: 400;
	font-size: 24px;
	line-height:40px;
	color: rgba(242, 242, 244, 1);
	letter-spacing:0.1em;
}

contentstxtsub{
	font-family: 'Pretendard Variable';
	font-weight: 300;
	font-size: 14px;
	line-height:20px;
	color: rgba(255, 255, 255, 0.7);
	letter-spacing:0.1em;
}

copytxt {
	font-family: 'Pretendard Variable';
	font-weight: 300;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	letter-spacing:0.1em;
}