
@font-face {
    font-family: 'Pretendard Variable';
    src: url('font/PretendardVariable.woff2') format('woff2'),
         url('font/PretendardVariable.ttf') format('truetype'); 
}

	a:link     {color:#000;text-decoration:none}
	a:visited  {color:#000;text-decoration:none}
	a:active   {color:#000;text-decoration:none}
	a:hover    {color:#000;text-decoration:none}


/* 반응형 */



@media screen and (min-width:1176px){

	.top .topframe {
		width: 1176px;
		/*background-color: rgba(78, 85, 59, .03);*/
	}
	
	.top .topframe .end_prev {
		width: 25%;
		padding: 24px 0px 24px 24px;
		box-sizing: border-box;
		/*background-color: rgba(17, 17, 17, .07); */
	}

	.top .topframe .end_prev .end_prev_button {
		/* background-color: rgba(17, 17, 17, .07); */
	}

	section {
		width: 1176px;
	}

	section .end {
		width: 100%;
		padding: 0px 24px  0px 24px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .03);  */
		
	}

	section .end .title_area {
		padding-top: 216px;
		height: 360px;
		padding-left: 192px;
		padding-right: 192px;
		/* background-color: rgba(17, 17, 17, .07);  */
	}

	section .end .title_area .simbol {
		width: 96px;
		height: 96px;
		padding-top: 36px;
		padding-left: 36px;
	}

	section .end .title_area .simbol img {
		width: 100%;
  		height: 100%;
		border-radius: 28px;	
		object-fit: cover;
	}
	section .contents_area {
		margin-top: 216px;
		margin-bottom: 92px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

 	section .contents {
		margin-top: 92px;
		padding-left: 192px;
		padding-right: 192px;
		/* background-color: rgba(17, 17, 17, .07); */
 	}

	section .imgbox {
		float:inherit;
		margin-top: 92px;
		height: auto;
		overflow:auto;
		
	}

	.copyright {
		width: 1176px;
		/* background-color: rgba(78, 11, 85, 0.0925);*/
	}

	.copyright .copy_box {
		width: 288px;
		/*background-color: rgba(78, 11, 85, 0.0925);*/
	}
}


@media screen and (max-width:1176px){

	.top .topframe {
		/* background-color: rgba(78, 85, 59, .03); */
	}

	.top .topframe .end_prev {
		width: 25%;
		padding: 24px 0px 24px 20px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	section {
		width: 100%;

	}

	section .end {
		padding: 0px 20px  0px 20px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .03);  */

		
	}

	section .end .title_area {
		padding-top: 216px;
		height: 360px;
		max-width: 744px;
		margin: auto;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	section .end .title_area .simbol {
		width: 96px;
		height: 96px;
		padding-top: 36px;
		padding-left: 36px;
	}

	section .end .title_area .simbol img {
		width: 100%;
  		height: 100%;
		border-radius: 28px;	
		object-fit: cover;
	}

	section .contents_area {
		margin-top: 216px;
		margin-bottom: 92px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

 	section .contents {
		margin : Auto;
		margin-top: 92px;
		max-width: 744px;
		/* background-color: rgba(17, 17, 17, .07); */
 	}

	section .imgbox {
		float:inherit;
		margin-top: 92px;
		height: auto;
		overflow:auto;
	}


	.copyright {
		width: 100%;
		/*background-color: rgba(78, 11, 85, 0.11);*/
	}

	.copyright .copy_box {
		width: 25%;
		/*background-color: rgba(78, 11, 85, 0.111);*/
	}

}


/* 공통 */	

	img {
		display:block
	}

    body {
        margin: 0px;
        padding: 0px;
        background-color: rgba(249, 249, 251, 1);
    }


/* 상단 Top Bar 영역 */

	.top {
		position:fixed;
	 	z-index:999;
		top:0px;
		width: 100%;
   		height: 72px;
		/* border-bottom: 1px solid rgba(17, 17, 17, .05); */
		backdrop-filter:blur(17px);
		background-color: rgba(249, 249, 251, .92);
	}

	.top .topframe {
		height: 100%;
		padding: 0px;
		margin: auto;
	}

	.top .topframe .end_prev {
		float: left;
	}

	.top .topframe .end_prev .end_prev_button {
		width:24px;
		height:24px;
		background-image: url('img/common/$icon-edge-24-historyback.svg');
		background-repeat: no-repeat;
		background-size:24px 24px;
    }



	/* 공통 */


	.circle {
		float:left;
		position: absolute;
		width:6px;
		height:6px;
		border:2px solid;
		border-color: #111;
		border-radius:6px;
	}

	.bar {
		float: left;
		background-color: rgba(17, 17, 17, 1);
		width: 11px;
		height: 2px;
	}

	.empty {
		float: left;
		width: 100%
	}

	/*프로젝트 상세 정보 공통*/

	section {
		margin:	auto;
	}

	section .end .title {
		margin-top:40px;
	}

	section .end .sub {
		margin-top:8px;
	}

	section .end .description {
		margin-top:28px;
	}

    
	txt_title {
		font-family: 'Pretendard Variable';
		font-weight: 600;
		font-size: 32px;
		color: #111;
		line-height:48px;
		letter-spacing:0em;
	}

	txt_sub {
		font-family: 'Pretendard Variable';
		font-weight: 300;
		font-size: 16px;
		color: #111;
		line-height:28px;
		letter-spacing:0em;
	}	

	txt_description {
		font-family: 'Pretendard Variable';
		font-weight: 300;
		font-size: 14px;
		color: #929292;
		line-height:25px;
		letter-spacing:0em;
	}	


	/* 콘텐츠 */


	.subtitle {
		width:100%;
	}

	.body {
		width:100%;
		margin-top: 12px;
	}

	.imgbox {
		float: left;
		width:100%;
		
	}

	aricle_title {
		font-family: 'Pretendard Variable';
	 	font-weight: 500;
		font-size: 16px;
		letter-spacing:0em;
		color: #1A1A1C;
		line-height:28px;
	}

	aricle_body {
		font-family: 'Pretendard Variable';
	 	font-weight: 300;
		font-size: 16px;
		letter-spacing:0em;
		color: #666668;
		line-height:28px;
	}
	
	/*footer------- -------- ----- ---------*/



footer {
	z-index:925;
	width: 100%;
	height: 72px;
	margin: 0;
	bottom: 0;
}

.copyright {
	margin: auto;
	/*width: 1176px;*/
	height: 100%;
	/*background-color: rgba(59, 92, 85, .07);*/
}

.copyright .copy_box {
	float:left;
	height: 100%;
	padding-left: 24px;
	box-sizing: border-box;
	/*background-color: rgba(59, 92, 85, .07);*/
}

copytxt {
	font-family: 'Pretendard Variable';
	font-weight: 300;
	font-size: 14px;
	color: rgba(17, 17, 17, 0.7);
	letter-spacing:0.1em;
}
