/* 공통 --------- -- ----- -------*/

img {}

body {
	margin: 0px;
	padding: 0px;
	background-color: rgba(249, 249, 251, 1);
	/* overflow-x: hidden; */
}



/* 반응형 PC --------- -- ----- -------*/

@media screen and (min-width:1176px) {

	.top .topframe {
		width: 1176px;
		/*background-color: rgba(78, 85, 59, .03);*/
	}

	.top .topframe .end_prev {
		width: 25%;
		padding: 24px 0px 24px 24px;
		box-sizing: border-box;
		/*background-color: rgba(17, 17, 17, .07); */
	}

	.top .topframe .end_prev .end_prev_button {
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article {
		width: 1176px;

	}

	article .end {
		width: 100%;
		padding: 0px 24px 0px 24px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .03);  */

	}

	article .end .title_area {
		padding-top: 216px;
		height: 360px;
		padding-left: 192px;
		padding-right: 192px;
		/* background-color: rgba(17, 17, 17, .07);  */
	}

	article .end .title_area .simbol {
		width: 96px;
		height: 96px;
		padding-top: 36px;
		padding-left: 36px;
	}

	article .end .title_area .simbol img {
		width: 100%;
		height: 100%;
		border-radius: 28px;
		object-fit: cover;
	}

	article .contents_area {
		margin-top: 216px;
		margin-bottom: 192px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article .contents {
		margin-top: 192px;
		padding-left: 192px;
		padding-right: 192px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article .contentsbox {
		float: inherit;
		margin-top: 40px;
		height: auto;
		overflow: auto;

	}
	.contentsgrid_4 {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 24px;
	}

	.contentsgrid_3 {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;
	}

	.contentsgrid_2 {
		margin-top: 16px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}

	.copyright {
		width: 1176px;
		/* background-color: rgba(78, 11, 85, 0.0925);*/
	}

	.copyright .box {
		width: 288px;
		/*background-color: rgba(78, 11, 85, 0.0925);*/
	}
}




/* 반응형 Mobile --------- -- ----- -------*/

@media screen and (max-width:1176px) {

	.top .topframe {
		/* background-color: rgba(78, 85, 59, .03); */
	}

	.top .topframe .end_prev {
		width: 25%;
		padding: 24px 0px 24px 20px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article {
		width: 100%;

	}

	article .end {
		padding: 0px 20px 0px 20px;
		box-sizing: border-box;
		/* background-color: rgba(17, 17, 17, .03);  */
	}

	section .end {
		padding: 0px 20px 0px 20px;
		box-sizing: border-box;
	}

	article .end .title_area {
		padding-top: 216px;
		height: 360px;
		max-width: 744px;
		margin: auto;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article .end .title_area .simbol {
		width: 96px;
		height: 96px;
		padding-top: 36px;
		padding-left: 36px;
	}

	article .end .title_area .simbol img {
		width: 100%;
		height: 100%;
		border-radius: 28px;
		object-fit: cover;
	}

	article .contents_area {
		margin-top: 216px;
		margin-bottom: 192px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article .contents {
		margin: Auto;
		margin-top: 192px;
		max-width: 744px;
		/* background-color: rgba(17, 17, 17, .07); */
	}

	article .contentsbox {
		float: inherit;
		margin-top: 40px;
		height: auto;
		overflow: auto;
	}

	.contentsgrid_4 {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
		place-items: center;
	}

	.contentsgrid_3 {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px;
	}

	.contentsgrid_2 {
		margin-top: 16px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px;
	}

	.copyright {
		width: 100%;
		/*background-color: rgba(78, 11, 85, 0.11);*/
	}

	.copyright .box {
		width: 25%;
		/*background-color: rgba(78, 11, 85, 0.111);*/
	}

}




/* 상단 Top 영역 --------- -- ----- -------*/

.top {
	position: fixed;
	z-index: 999;
	top: 0px;
	width: 100%;
	height: 72px;
	/* border-bottom: 1px solid rgba(26, 26, 28, 0.07); */
	/* backdrop-filter:blur(17px);
		background-color: rgba(249, 249, 251, .92); */
}

.top .topframe {
	height: 100%;
	padding: 0px;
	margin: auto;
}

.top .topframe .end_prev {
	float: left;
}

.top .topframe .end_prev .end_prev_button {
	width: 24px;
	height: 24px;
	background-image: url('img/common/$icon-edge-24-historyback.svg');
	background-repeat: no-repeat;
	background-size: 24px 24px;
}



/* 콘텐츠 공통 --------- -- ----- -------*/


.circle {
	float: left;
	position: absolute;
	width: 6px;
	height: 6px;
	border: 2px solid;
	border-color: #111;
	border-radius: 6px;
}

.bar {
	float: left;
	background-color: rgba(26, 26, 28, 1);
	;
	width: 11px;
	height: 2px;
}

.empty {
	float: left;
	width: 100%
}



/* 프로젝트 상세 정보 공통 --------- -- ----- -------*/

section {
	margin: auto;
}

article {
	margin: auto;
}

article .end .title {
	margin-top: 40px;
}

article .end .sub {
	margin-top: 8px;
}

article .end .description {
	margin-top: 28px;
}

.subtitle {
	width: 100%;
}

.body {
	width: 100%;
	margin-top: 12px;
}

.contentsbox {
	float: left;
	width: 100%;

}

section .contents {
	margin: Auto;
	margin-top: 192px;
	max-width: 744px;
	/* background-color: rgba(249, 249, 251, 0.0925); */
}

section .end {
	padding-top: 46px;
	padding-bottom: 46px;
	/* 
		width: 100vw;
 		margin-left: calc(-50vw + 50%);
		*/
	background-color: rgba(8, 10, 14, 1);
}

/*
	.contentsgrid {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;
	}
	*/



.contentsgrid_2_in {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}

.column {
	/* max-width: 360px; */
	padding: 24px;
	background-color: rgba(246, 246, 248, 1);
}






.column_contents {
	width: fit-content;
	margin: 0 auto;
}

.column_contents_vertical {
	display: flex;
	flex-direction: column;
	width: fit-content;
	flex-wrap: wrap;
	gap: 2px;
	margin: 0 auto;
}

.column_contents_horizontal {
	display: flex;
	flex-direction: row;
	width: fit-content;
	flex-wrap: wrap; 
	gap: 24px;
	justify-content: center; 
}






section .output {
	margin-top: 92px;
	text-align: center;
}

section .output .imagearea {
	margin-top: 24px;
	display: flex;
	justify-content: center;
}

section .output .subtitlearea {
	/* text-align: center; */
}

section .output .bodyarea {
	padding-top: 16px;
	/* text-align: center; */
}








/* 풋터 ------- -------- ----- ---------*/

footer {
	z-index: 925;
	width: 100%;
	height: 72px;
	margin-top: 92px;
	bottom: 0;
}

.copyright {
	margin: auto;
	/*width: 1176px;*/
	height: 100%;
	/*background-color: rgba(59, 92, 85, .07);*/
}

.copyright .box {
	float: left;
	height: 100%;
	padding-left: 24px;
	box-sizing: border-box;
	/*background-color: rgba(59, 92, 85, .07);*/
}