
/*contents dark-mode------- -------- ----- ---------*/

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box .contents-line{
	background-color: rgba(17, 17, 17, 1);
}

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box .contents-txt contentstxt{
	color: #111;
}

#touchSlider ul li.dark-mode .contents .contents-in .contents-compo .contents-box-sub .contents-circle{
	border-color: #111;
}

/*
.top.dark-mode{
	border-bottom: 1px solid rgba(17, 17, 17, .05);
}
*/

.top.dark-mode .topframe .nav li .nav_bt_01{
	background-image: url('img/common/$icon-edge-24-window-line.svg');
	background-repeat: no-repeat;
}

.top.dark-mode .topframe .nav li .nav_bt_02{
	background-image: url('img/common/$icon-edge-24-gallery-line.svg');
	background-repeat: no-repeat;
}


section.dark-mode .side_arrow_bt .prev .prev_img {
	background-image: url('img/common/$icon-edge-24-prev.svg');
	background-repeat: no-repeat;
}

section.dark-mode .side_arrow_bt .next .next_img {
	background-image: url('img/common/$icon-edge-24-next.svg');
	background-repeat: no-repeat;
}


footer.dark-mode .copyright .copy_box copytxt{
	color: rgba(17, 17, 17, 0.92);
}



/*Common Font------- -------- ----- ---------*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

	a:link     {color:#000;text-decoration:none}
	a:visited  {color:#000;text-decoration:none}
	a:active   {color:#000;text-decoration:none}
	a:hover    {color:#000;text-decoration:none}






/*Reactive type------- -------- ----- ---------*/

@media screen and (min-width:1176px){

	.top .topframe {
		width: 1176px;
	}

	.top .topframe .nav {
		margin-top:0px;
		width:288px;
		box-sizing: border-box;
		/* background-color: rgba(59, 78, 85, 0.44);*/
	}

	.contents-in{
		width: 1176px;
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
		width: 288px;
		/* background-color: rgba(59, 78, 85, 0.07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
		width: 288px;
		/* background-color: rgba(59, 78, 85, 0.14);*/
	}

	.copyright {
		width: 1176px;
		/* background-color: rgba(78, 11, 85, 0.0925);*/
	}

	.copyright .copy_box {
		width: 288px;
		/*background-color: rgba(78, 11, 85, 0.0925);*/
	}
}

@media screen and (max-width:1176px){

	.top .topframe {
		width:100%;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	.top .topframe .nav {
		margin-top:0px;
		width: 50%;
		max-width:288px;
		box-sizing: border-box;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
		width: 25%;
		max-width:288px;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
		width: 25%;
		max-width:288px;
		/*background-color: rgba(59, 92, 85, .07);*/
	}

	.copyright {
		width: 100%;
		/*background-color: rgba(78, 11, 85, 0.11);*/
	}

	.copyright .copy_box {
		width: 25%;
		/*background-color: rgba(78, 11, 85, 0.111);*/
	}
}




/*Common Top------- -------- ----- ---------*/

img {
	display:block
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #111;
}

.top {
	position:fixed;
	z-index:998;
	top:0px;
	width:100%;
	height: 72px;
	/* border-bottom: 1px solid rgba(255, 255, 255, .05);*/
	/*background-color: rgba(59, 92, 85, .07);*/
	/* background-color: rgba(22, 44, 11, .925); */
}

	.top .topframe {
		margin-left: auto;
		margin-right: auto;
		/*background-color: rgba(59, 92, 85, .07);*/
		height:100%;
	}

	.top .topframe .nav {
		list-style:none;
		padding-top: 24px;
		height:72px;
		padding-inline-start: 24px;
		/* background-color: rgba(78, 85, 44, .22); */
		/* left: -50%; */
	}

	.top .topframe .nav li {
		float: left;
		padding-right:32px;
		/* background-color: rgba(44, 78, 85, .22); */
		/* left: 50%; */
	}

	.top .topframe .nav li .nav_bt_01{
		width:24px;
		height:24px;
		background-image: url('img/common/$icon-edge-24-window-line-white.svg');
		background-repeat: no-repeat;
		background-size:24px 24px;
	}

	.top .topframe .nav li .nav_bt_02{
		width:24px;
		height:24px;
		background-image: url('img/common/$icon-edge-24-gallery-line-white.svg');
		background-repeat: no-repeat;
		background-size:24px 24px;
	}


/*----------------------------------------------------------------------------------------*/



gallery {

}

Container {
	float: left;
	margin: 0px;
}

#touchSlider {
	height:100%;
	margin:0px;
	background:#000;
	overflow:hidden;
}

#touchSlider ul {
	width:100%;
	height:100%;
	list-style:none;
	top:0;
	left:0;
	overflow:hidden;
}

#touchSlider ul li {
	float:left;
	width:100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}

#touchSlider ul li .contents {
	position: absolute;
	/*min-width:1176px;*/
	z-index: 592;
	width: 100%;
	height: 100%;
}

#touchSlider ul li .contents .contents-in{
	/*width: 1176px;*/
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(59, 92, 85, .07);*/
}

#touchSlider ul li .contents .contents-in .contents-compo{
	position: absolute;
	width:100%;
	top:0;
	bottom: 0;
	height: 0%;
	margin-top: auto;
	margin-bottom: auto;
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box {
	float:left;
	/*width:288px;*/
	/* background-color: rgba(59, 78, 85, 0.44);*/
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub {
	float:left;
	/*width:288px;*/
	/* background-color: rgba(17, 17, 17, 0.44);*/
}



#touchSlider ul li .contents .contents-in .contents-compo .contents-box .contents-line{
	margin-top: -1px;
	margin-left: 24px;
	width: 24px;
	height: 2px;
	background-color: rgba(255, 255, 255, 1);
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box-sub .contents-circle{
	float:left;
	margin-top: -5px;
	margin-left:24px;
	width:6px;
	height:6px;
	border:2px solid;
	border-color: #fff;
	border-radius:6px;
}

#touchSlider ul li .contents .contents-in .contents-compo .contents-box .contents-txt{
	float:left;
	margin-top: 24px;
	margin-left: 24px;

}

contentstxt{
	font-family: 'Pretendard Variable';
	font-weight: 400;
	font-size: 24px;
	line-height:40px;
	color: #fff;
	letter-spacing:0.1em;
}

section .side_arrow_bt {
	z-index:925;
}

section .side_arrow_bt .prev {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 24px;
	/*background-color: rgba(59, 92, 85, .07);*/
}

section .side_arrow_bt .next {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 24px;
	/*background-color: rgba(59, 92, 85, .07);*/
}

section .side_arrow_bt .prev .prev_img {
	float:left;
	width: 24px;
	height: 24px;
	background-image: url('img/common/$icon-edge-24-prev-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}

section .side_arrow_bt .next .next_img {
	float:left;
	width: 24px;
	height: 24px;
	background-image: url('img/common/$icon-edge-24-next-white.svg');
	background-repeat: no-repeat;
	background-size:24px 24px;
}


/*
.count-num {
	position: fixed;
	z-index:999;
	bottom: 78px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 24px;
}

#next-txt {
	writing-mode:tb-rl;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	white-space:nowrap;
	display:block;
}

#prev-txt {
	writing-mode:tb-rl;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	white-space:nowrap;
	display:block;
}

*/



/*----------------------------------------------------------------------------------------*/


footer {
	position: absolute;
	z-index:925;
	width: 100%;
	height: 72px;
	margin: 0;
	bottom: 0;
}

.copyright {
	margin: auto;
	/*width: 1176px;*/
	height: 100%;
	/*background-color: rgba(59, 92, 85, .07);*/
}

.copyright .copy_box {
	float:left;
	height: 100%;
	padding-left: 24px;
	box-sizing: border-box;
	/*background-color: rgba(59, 92, 85, .07);*/
}

copytxt {
	font-family: 'Pretendard Variable';
	font-weight: 300;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	letter-spacing:0.1em;
}
