
@font-face{
	font-family:"PTmonoR";
	src:url('font/PTMono_Regular.eot');
	src:url('font/PTMono_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/PTMono_Regular.woff') format('woff'),
	url('font/PTMono_Regular.ttf') format('truetype');
	url('font/PTMono_Regular.svg#NanumGothic') format('svg')
	src:local(※), url('font/PTMono_Regular.woff') format('woff');
}

@font-face{
	font-family:"PTmonoB";
	src:url('font/PTMono_Bold.eot');
	src:url('font/PTMono_Bold.eot?#iefix') format('embedded-opentype'),
	url('font/PTMono_Bold.woff') format('woff'),
	url('font/PTMono_Bold.ttf') format('truetype');
	url('font/PTMono_Bold.svg#NanumGothic') format('svg')
	src:local(※), url('font/PTMono_Bold.woff') format('woff');
}
	a:link     {color:#000;text-decoration:none}
 	a:visited  {color:#000;text-decoration:none}
	a:active   {color:#000;text-decoration:none}
	a:hover    {color:#000;text-decoration:none}


txt_reg {
	font-family: PTmonoR, helvetica;
	font-size: 14px;
	color: #111;
	line-height:33px;
	letter-spacing:0.05em;
	font-style: normal;
	font-weight: normal;
}

txt_blod {
	font-family: PTmonoB;
	font-style: normal;
	font-weight: normal;
}

img {
	display:block
}



/*Reactive type------- -------- ----- ---------*/



@media screen and (min-width:1096px){
	

	body {
		margin: 0px;
		padding: 0px;
	}

	.top .topframe {
		width: 1096px;
		/*background-color: rgba(85, 78, 11, .111);*/
	}

	.top .topframe .simbol {
		width:274px;
		 background-color: rgba(44, 78, 85, .111);
	}
	
	.top .topframe .simbol .simbol_img {
		margin-left:7px;
	}

	.top .topframe .navframe {
		width:274px;
		 background-color: rgba(25, 8, 133, .578);
	}
	
	.top .topframe .navframe .nav {
		margin-left:-32px;
	}

	.top .topframe .pdf {
		width:274px;
		 background-color: rgba(78, 85, 44, .111);
	}

	.top .topframe .pdf .pdf_img {
		margin-left:6px;
	}


	section {
		width: 1096px;
	}

	.Container .article {
		width: 274px;
	}

	.Container .article .article_contents {
		width: 258px;
		padding-left: 8px;
		padding-right: 8px;
		 background-color: rgba(11, 78, 85, .0785);
	}

	.Container .article .article_img {
		width: 258px;
		 background-color: rgba(78, 85, 44, .111);
	}

	footer {
		width: 1096px;
		/*background-color: rgba(11, 22, 44, 0.11);*/
	}

	.copyright .copy_box {
		width:274px;
		 /*background-color: rgba(44, 78, 85, 0.11);*/
	}

	.copyright .copy_box .copy_txt{
		padding-left: 8px;
	}
}



@media screen and (max-width:1096px){

	body {
		margin: 0px;
		padding: 0px;
	}


	.top .topframe {
		width:100%;
		 /*background-color: rgba(78, 44, 85, .111);*/
	}

	.top .topframe .simbol {
		width:25%;
		max-width:274px;
		 background-color: rgba(78, 85, 44, .785);
	}

	.top .topframe .navframe {
		width:25%;
		max-width:274px;
		 background-color: rgba(11, 22, 33, .111);
	}

	.top .topframe .navframe .nav {
		margin-left:-40px;
	}

	.top .topframe .pdf {
		width:25%;
		max-width:274px;
		 background-color: rgba(11, 78, 85, .111);
	}


	.Container .article {
		width:25%;
		max-width:274px;

	}

	.Container .article .article_contents {
		width: 100%;
		/*max-width:258px;*/
		 background-color: rgba(11, 11, 11, .111);

	}

	.Container .article .article_img {
		width:100%;
		/*max-width:258px;*/
		 background-color: rgba(78, 44, 85, .111);
	}

	footer {
		width: 100%;
		/*background-color: rgba(11, 22, 44, 0.22);*/
	}

	.copyright .copy_box {
	
		width: 25%;
		max-width:274px;
		/*background-color: rgba(44, 78, 85, 0.22);*/
	}

	.copyright .copy_box .copy_txt{
		/*padding-left: 8px;*/
	}


}

/*Common Top------- -------- ----- ---------*/


	body {
		background-color: #fbf9f8;
	}


	.top {
		position:fixed;
		z-index:998;
		top:0px;
		width:100%;
		height: 78px;
		border-bottom: 1px solid rgba(17, 17, 17, .05);
		background-color: rgba(251, 249, 248, .95);
		/* background-color: rgba(22, 44, 11, .785); */
	}

	.top .topframe {
		/*width: 1096px;*/
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		/* background-color: rgba(85, 78, 11, .785);  */
	}

	.top .topframe .simbol {
		float: left;
		margin-top: 30px;
		/*width:275px;*/
		height:18px;
	}

	.top .topframe .simbol .simbol_img {
		width:32px;
		height:18px;
		/*margin-left: 7px;*/
		background-image: url('img/common/simbol@2x.png');
		background-repeat: no-repeat;
		background-size:32px 18px;
		 background-color: rgba(78, 85, 44, .111);
	}

	.top .topframe .navframe {
		float: left;
		margin-top: 30px;
		/* width:274px; */
		height:18px;
		/* background-color: rgba(11, 22, 33, .785); */
	}

	.top .topframe .navframe .nav {
		float: left;
		list-style:none;
		margin-top: 0px;
		/*margin-left: -32px;*/
		/* background-color: rgba(78, 85, 44, .22); */
		/*  left: -50%; */
	}

	.top .topframe .navframe .nav li {
		float: left;
		padding-right:44px;

		/* background-color: rgba(44, 78, 85, .22); */
		/* left: 50%; */
	}

	.top .topframe .navframe .nav li .nav_bt_01{
		float: left;
		width:18px;
		height:18px;
		background-image: url('img/common/top_menu_01_thumb@2x.png');
		background-repeat: no-repeat;
		background-size:18px 18px;
	}

	.top .topframe .navframe .nav li .nav_bt_02{
		float: left;
		width:18px;
		height:18px;
		background-image: url('img/common/top_menu_02_picture@2x.png');
		background-repeat: no-repeat;
		background-size:18px 18px;
	}

	.top .topframe .navframe .nav li .nav_bt_03{
		float: left;
		width:18px;
		height:18px;
		background-image: url('img/common/top_menu_03_discription@2x.png');
		background-repeat: no-repeat;
		background-size:18px 18px;
	}

	.top .topframe .pdf {
		float: left;
		margin-top: 28px;
		/*margin-left: 8px;*/
		/*width:274px;*/
		height:22px;
		/* background-color: rgba(78, 85, 44, .78); */
	 }

	.top .topframe .pdf .pdf_img {
		float: left;
		width:22px;
		height:22px;
		/*margin-left: -2px;*/
		background-image: url('img/common/pdf@2x.png');
		background-repeat: no-repeat;
		background-size:22px 22px;
	}


	/*article Thumbnail------- -------- ----- ---------*/



	section {
		/*width: 1096px;*/
		margin: auto;
	}


	.Container {
		float: left;
		margin-top: 157px;
	}


	.Container .article {
		display: block;
		float: left;
		max-width:274px;
		height: 200px;
		/*background-color: rgba(85, 78, 11, .11);*/
	}


	.Container .article .article_contents {
		height: 100%;
		float: left;
		max-width:258px;
		/*background-repeat: no-repeat;
		background-position: 0px 32px;
		background-size:100% auto;*/
	}

	.Container .article .article_txt {
		/*width: 100%;*/
		max-width:258px;
		margin-top: 22px;
		/*background-color: rgba(85, 78, 11, .11);*/
	}





	.Container .article .article_img {
		display: block;
		margin-top: 32px;
		/*width: 258px; */
		/*height: 78px; */
		/*background-color: rgba(78, 85, 44, .11); */
	}


	.Container .article .article_circle {
		float:left;
		position: absolute;
		/*margin-left: 8px;*/
		width:6px;
		height:6px;
		border:2px solid;
		border-color: #111;
		border-radius:6px;
	}


	.Container .article .article_circle_shape {
		float:left;
		position: absolute;
		/*margin-left: 8px;*/
		width:6px;
		height:6px;
		border:2px solid;
		border-color: #111;
		border-radius:6px;
		background-color: rgba(17, 17, 17, 1);
	}


	.Container .article .article_bar {
		float:left;
		position: absolute;
		height:11px;
		background-color: rgba(17, 17, 17, 1);
	}


	.bar {
		float: left;
		background-color: rgba(17, 17, 17, 1);
		margin-top: 4px;
		/* margin-left: 8px; */
		width: 11px;
		height: 2px;
	}


	num {
		font-family: PTmonoR, helvetica;
		font-size: 40px;
		color: #111;
		line-height:1.23em;
		letter-spacing:0.05em;
	}


	.num_bar {
		float:left;
		position: absolute;
		width:54px;
		height:2px;
		background-color: rgba(17, 17, 17, 1);
	}


	.continuity_box {
		float:left;
		position: absolute;
		width:6px;
		height:6px;
		border:2px solid;
		border-color: #111;
	}


	.diagonal_line {
		display: inline-block;
		margin-top:55px;
		margin-left:-22px;
		width:156px;
		height:2px;
		background: #111;
		-ms-transform: rotate(-45deg); /* IE 9 */
	  	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	  	transform: rotate(-45deg);
	}


	/*mouse over------- -------- ----- ---------*/

	.Container .article .article_txt .overlay {
		float:left;
		position: absolute;
		margin-top:-51px;
		margin-left:8px;
		border: 1px solid rgba(17, 17, 17, .11); ;
	}

	div.article div.overlay {
		display:none;
	}


	div.article div.article_txt:hover div.overlay {
 		display:block;
	}


	/*footer------- -------- ----- ---------*/


	footer {
		margin: auto;
		bottom: 0;
	}

	.copyright {
		float: left;
		margin-top:11px;
		height: 59px;
		width: 100%;
	}

	.copyright .copy_box {
	
		float:left;
		height: 100%;
		/* background-color: rgba(85, 78, 44, 1); */
		/*border-top: 2px solid #f4f4f4;*/
	}

	.copyright .copy_box .copy_txt {
		float: left;
		margin-top: 0px;
	}

	copytxt {
		/*margin-left: 8px;*/
		font-family: PTmonoR, helvetica;
		font-size: 12px;
		color: rgba(17, 17, 17, 0.785);
		letter-spacing:0.0785em;
	}
	
	.copyright .copy_box .copy_txt .copy_img {
		float:left;
		opacity:0.785;
		width:12px;
		height:12px;
		padding-top:2px;
		background-image: url('img/common/copy@2x.png');
		background-repeat: no-repeat;
		background-size:12px 12px; 
	}
